link(rel="stylesheet" type="text/css" href=theme.katex.cdn.css)
script(src='https://unpkg.zhimg.com/katex-copytex@latest/dist/katex-copytex.min.js')
link(rel="stylesheet" type="text/css" href='https://unpkg.zhimg.com/katex-copytex@latest/dist/katex-copytex.min.css')