<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">{{ site.title }}</h5>
                <p class="grey-text text-lighten-4">
                    <div>Last Build: {{ site.time }}</div>
                    {% if page.date %}
                    <div>Last Edit: {{ page.date }}</div>
                    {% endif %}
                    <div>Last Commit Time:
                        <span id="last-commit-time" class="github-load">Loading...</span>
                    </div>
                    <div>Last Committer:
                        <a id="last-committer" class="github-load">Loading...</a>
                    </div>
                    <div>Last Commit Msg:
                        <a id="last-commit-msg" class="github-load">Loading...</a>
                    </div>

                </p>
            </div>
            <div class="col l4 offset-l2 s12">

                <h5 class="white-text">Links</h5>
                <ul>
                    {% for friend in site.data.friends limit:5%}
                    <li>
                        <a class="grey-text text-lighten-3" target="_blank" href="{{ friend.url }}">{{ friend.name }}</a>
                    </li>
                    {% endfor %}
                </ul>

            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2018 Copyright Text
            <a class="grey-text text-lighten-4 right" href="/pages/links.html">More Links</a>
        </div>
    </div>
</footer>

<script async>
    $.get('https://api.github.com/repos/{{site.repo}}/git/refs/heads/master', (data, state) => {
        if (state === 'success') {
            let lastestCommit = data['object']['url']
            if (!lastestCommit) {
                $('.github-load').text('Unknown')
            } else {
                $.get(lastestCommit, (commit, state) => {
                    if (state === 'success') {

                        let url = commit['html_url']

                        let date = commit['committer']['date']
                        $('#last-commit-time').text(date ? date : 'Unknown Time')

                        let message = commit['message']
                        let el = $('#last-commit-msg')
                        el.text(message ? message : 'Unknown Message')
                        url && el.attr('href', url)

                        let committer = commit['committer']
                        let committerName = committer['name']
                        let committerEmail = committer['email']
                        let committerText = `${committerName ? committerName : 'Unknown committer'} ( ${committerEmail ? committerEmail : 'Unknown email'})`
                        el = $('#last-committer')
                        el.text(committerText)
                        url && el.attr('href', `https://github.com/${committerName}`)
                    } else {
                        $('.github-load').text(state)
                    }
                })
            }
        } else {
            $('.github-load').text(state)
        }
    })
</script>

<script>
    MathJax.Hub.Config({
        extensions: ["tex2jax.js"],
        jax: ["/*  */input/TeX", "output/HTML-CSS"],
        tex2jax: {
            inlineMath: [['$', '$'], ["\\(", "\\)"]],
            displayMath: [['$$', '$$'], ["\\[", "\\]"]],
            processEscapes: true
        },
        "HTML-CSS": { availableFonts: ["TeX"] }
    });
</script>