<title>{% if page.title %}{{ page.title }} &mdash; {% endif %}{{ site.title }}</title>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="/css/materialize.css"  media="screen,projection"/>
<link type="text/css" rel="stylesheet" href="/css/core.css" />
<link type="text/css" rel="stylesheet" href="/css/article.css" />
<link type="text/css" rel="stylesheet" href="/css/rouge_monokai.css" />
<link type="text/css" rel="stylesheet" href="/css/share.min.css" />
<link type="text/css" rel="stylesheet" href="/live2d/css/live2d.css" />

<script src="/js/util.js"></script>
<script src="/js/settings.js"></script>
<script src="/js/lib/jspdf.min.js" async></script>
<script src="https://cdn.bootcss.com/html2canvas/0.5.0-beta4/html2canvas.js" async></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>