<title>{% if page.title %}{{ page.title }} &mdash; {% endif %}{{ site.title }}</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="/css/materialize.css"  media="screen,projection"/>
<link type="text/css" rel="stylesheet" href="/css/core.css" />
<link type="text/css" rel="stylesheet" href="/css/article.css" />
<link type="text/css" rel="stylesheet" href="/css/rouge_monokai.css" />
<link type="text/css" rel="stylesheet" href="/css/share.min.css" />

<script src="/js/util.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1.0"/>