<nav>
    <div class="nav-wrapper" id="top">
        <a id="open-menu" class="left waves-effect waves-teal left-margin"><i class="material-icons">menu</i></a>
        <a href="#" id="logo" class="brand-logo left-margin">{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</a>

    </div>
</nav>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large red left">
        <i class="material-icons">add</i>
    </a>
    <ul>
        <li><a class="btn-floating blue" href="#top"><i class="material-icons">keyboard_arrow_up</i></a></li>
        <li>
            <a class="valign-wrapper btn-floating white" target="_blank" href="https://github.com/mslxl">
            <svg class="octicon octicon-mark-github" viewBox="0 0 16 16" version="1.1" aria-hidden="true" enable-background="#FFF"><path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path></svg>
            </a>
        </li>
        <li><a class="btn-floating red darken-1" id="send-comment"><i class="material-icons">comment</i></a></li>
        <li><a class="btn-floating green modal-trigger" id="share-whith-other" href="#share-way"><i class="material-icons">share</i></a></li>
    </ul>
</div>

<ul id="slide-out" class="sidenav">
    {% if site.sidenav_enabel %}
    <li>
        <div class="user-view">
            <div class="background">
                <img src="{{ site.sidenav_bg }}">
            </div>
            <a><img class="circle" src="{{ site.avatar }}"></a>
            {% if site.username %} <a><div class="name white-text">{{ site.username }}</div></a> {% endif %}
            {% if site.email %} <a href="mailto:{{ site.email }}"><div class="email white-text">{{ site.email }}</div></a> {% endif %}

        </div>
    </li>

    {% endif %}
    <li><a href="/">Home</a></li>

    {% assign pages = site.pages | concat: site.data.pages | sort: 'title'  %}
    {% for page in pages %}
    {% if page.title %}
    <li><a href="{{ page.url }}">{{page.title}}</a></li>

    {% endif %}
    {% endfor %}


    <li class="divider"></li>
    <li><a class="subheader">Other</a></li>
    <li><a href="/feed.xml">RSS</a></li>
</ul>

<!--Share-->
<div id="share-way" class="modal bottom-sheet share-popup blue-grey darken-1 white-text">
    <div class="modal-content center-align">
        <div>
            <h4>Share with friends</h4>
            <p>I'm very happy you like this.</p>
        </div>
        <hr/>
        <div class="card blue-grey darken-1">
            <div class="card-content">
                <div>
                    <p class="title card-title">{{ page.title }}</p>
                    <p class="date-text">{{ page.date | date_to_long_string }}</p>
                    {% for tag in page.tags %}
                    <a class="waves-effect waves-light right-margin" href="/pages/categories.html#{{ tag }}">{{ tag }}</a>
                    {% endfor %}
                    <p>{{page.url | prepend: site.url}}</p>
                </div>
            </div>
            <div class="card-action social-share"></div>
        </div>
    </div>
    <script src="/js/social-share.min.js" async></script>
</div>

<script>
    $(document).ready(()=>{
        $('.sidenav').sidenav()
        $('.collapsible').collapsible()
        $('.dropdown-trigger').dropdown()
        $('.fixed-action-btn').floatingActionButton()
        $('.modal').modal()
        $('#open-menu').click(()=>{
            $('#slide-out').sidenav('open')
        })
        $('#send-comment').click(()=>{
            M.toast({html: 'TODO!'})
        })
    })
</script>