.footer
  a(target="_blank", href="/")
    span Based on 
  a(href="https://www.caicai.me")  CaiCai 
  span &
  a(href="https://github.com/Ben02/hexo-theme-Anatole")  Ben
  span 's Theme
  .by_farbox
    //- a(href="https://coding.net/pages", target="_blank") Hosted by CODING Pages
