doctype
html(lang="zh-CN")
  head
    include head
    script(src= url_for('js/jquery.js'))

  body
    include sidebar
    .main
      include nav

      block content

    script(src= url_for('js/jquery-migrate-1.2.1.min.js'))
    script(src= url_for('js/jquery.appear.js'))
    script(src= url_for('js/search-bar.js'))
    script(src= url_for('js/baidu-push.js'))
    script(src= url_for('js/mourn.js'))
    if(!page.noLive2d)
      | !{ live2d() }