.sidebar.animated.fadeInDown
  .logo-title
    .title
      img(src= url_for(theme.avatar),style="width:127px;")
      h3(title="")
        a(href="/")= config.title
      if theme.description
        .description
          p= theme.description

  ul.social-links
    if theme.twitter
      li
        a(href="https://twitter.com/" + theme.twitter)
          i.fa.fa-twitter
    if theme.github
      li
        a(href="http://github.com/" + theme.github)
          i.fa.fa-github
    if theme.mail
      li
        a(href= "mailto:" + theme.mail)
          i.fa.fa-envelope
    if theme.qq
      li
        a(href= "tencent://AddContact/?fromId=45&fromSubId=1&subcmd=all&uin=" + theme.qq + "&website=www.oicqzone.com")
          i.fa.fa-qq
    if theme.rss
      li
        a(href= url_for(theme.rss))
          i.fa.fa-rss
  include footer
