---
import { themeConfig } from '~/.config'
import { getPathFromCategory } from '~/utils'

interface Props {
  category: string
}

const { category } = Astro.props

function getCategoryUrl(category: string) {
  return `/categories/${getPathFromCategory(category)}`
}
---

<a href={getCategoryUrl(category)}>
  # {category}
</a>
