---
title: Categories
layout: page
---

{% assign sorted_categories = site.tags | sort %}


<ul class="collapsible width-full popout">
    {% for category in sorted_categories %}
    <li class="category" id="{{category[0] }}">
        <div class="collapsible-header">{{category | first}}</div>
        <div class="collapsible-body">
            <ul class="collection">
                {% for post in category.last %}
                <li class="collection-item">
                    <div>
                        <span class="posts-list-meta">{{post.date | date:"%Y/%m/%d"}}</span>
                        <a class="posts-list-name left-margin" href="{{post.url}}">{{post.title}}</a>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </li>
    {% endfor %}
</ul>


<script>
    $(document).ready(function(){
        let collapsible = M.Collapsible.getInstance(document.querySelector('.collapsible'));
        if (window.location.toString().indexOf('#')!==-1){
            let tag = window.location.toString().split('#')[1]
            $('.category').each((index,el)=>{
                if (el.id.toUpperCase()===tag.toUpperCase()){
                    collapsible.open(index)
                }
            })
        } else  {
            collapsible.open(0)
        }
    });
</script>