---
layout: page
---


<div class="row" ondragstart="return false;">
    <div>
        <div class="card header">
            <div class="card-image">
                <a class="btn-floating halfway-fab waves-effect waves-light red modal-trigger" href="#search-modal"><i class="material-icons">search</i></a>
            </div>
            {% if site.avatar %}
            <div class="card-content valign-wrapper">
                <img class="circle avatar" src="{{ site.avatar }}"/>
                <span class="name left-margin">{{ site.username }}</span>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% raw %}


<div id="vue-el" class="row">
    <div class="card" v-for="item in items">
        <div class="card-content">
            <h5 class="left-align title"> {{ item.title }}</h5>
            <span class="date-text"> {{ item.date }} </span>
            <hr/>
            <span class="left-align"> {{ item.preview }}</span>
            <a class="left-margin" :href="item.url">[ Read more ]</a>
        </div>
        <div class="card-action">
            <a class="waves-effect waves-light btn right-margin" v-for="tag in item.tags" :href="'/pages/categories.html#'+tag">{{ tag }}</a>
        </div>
    </div>
</div>

{% endraw %}

<div id="search-modal" class="modal">
    <div class="modal-content">
        <h4>Search</h4>
        <div class="input-field">
            <input id="search-text" type="text" class="validate">
            <label for="search-text">Text</label>
        </div>
        <label>
            <input id="enable-fast-search" type="checkbox" checked="checked" />
            <span>Fast search (Only search title)</span>
        </label>
    </div>
    <div class="modal-footer">
        <a onclick="searchText()" class="modal-action modal-close waves-effect waves-green btn-flat">Search</a>
    </div>
</div>

<script src="/js/search.js"></script>