<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% include head.html %}
    {% for css in post.css %}
        <link type="text/css" rel="stylesheet" href="{{css}}"/>
    {% endfor %}
    {% for js in post.js %}
        <script src="{{js}}"></script>
    {% endfor %}
</head>

<body>

<script src="/js/jquery-3.3.1.js"></script>

<script src="/js/vue.js"></script>

{% include sidenav.html %}


<script src="/js/materialize.js"></script>


{{content}}

<script  src="/js/socialist_core_values.js" async></script>
</body>
</html>