---
layout: page
---
<div class="main">
    <div class="card width-full">
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">{{ page.title }}{% if page.introduction %}<i class="material-icons right">more_vert</i>{% endif %}</span>
            <p><a href="#">{{ page.date | date_to_long_string}}</a></p>
        </div>
        {% if page.tags %}
        <div class="card-action">
            {% for tag in page.tags %}
            <a class="waves-effect waves-light btn right-margin" v-for="tag in item.tag">{{ tag }}</a>
            {% endfor %}
        </div>
        {% endif %}
        {% if page.introduction %}
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Introduction<i class="material-icons right">close</i></span>
            <p>{{ page.introduction }}</p>
        </div>
        {% endif %}
    </div>
    <div id="content" class="article-container">
        {{content}}
    </div>
</div>
