---
layout: page
---

<div class="card width-full">
    <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">{{ page.title }}
            {% if page.introduction %}
            <i id="show-introduction" class="material-icons right">more_vert</i>
            {% endif %}
        </span>
            <p><a href="#">{{ page.date | date_to_long_string}}</a></p>
        </div>
        {% if page.tags %}
        <div class="card-action">
            {% for tag in page.tags %}
            <a class="waves-effect waves-light btn right-margin" href="/pages/categories.html#{{ tag }}">{{ tag }}</a>
            {% endfor %}
        </div>
        {% endif %}
        {% if page.introduction %}
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Introduction<i class="material-icons right">close</i></span>
            <p>{{ page.introduction }}</p>
        </div>
        {% endif %}
    </div>


{% if page.introduction %}
<div class="tap-target" data-target="show-introduction">
    <div class="tap-target-content">
        <h5>Introduction</h5>
        <p>Some brief introductions to this article</p>
    </div>
</div>

<script>
    console.log(window.global.settings)
    if (global.settings.getValue('first-post-display',true)){
        $(document).ready(()=>{
            let featureDiscovery = $('.tap-target')
            featureDiscovery.tapTarget();
            featureDiscovery.tapTarget('open');
            global.settings.putValue('first-post-display',false)
        })
    }
</script>
{% endif %}


<div id="content" class="article-container">
    {{content}}
</div>
{% if page.speak %}
<script>
    // Live2d msg
    disableHitokoto = true
    const speakMsg = [
        {% for speak in page.speak %}"{{speak}}"{% unless forloop.last %},{% endunless %}
        {% endfor %}
    ]
    function showSpeak(){
        showMessage(speakMsg[randomFrom(0,speakMsg.length-1)], 5000);
    }

    window.setInterval(showSpeak,30000);
</script>
{% endif %}

{% if page.click %}
<script>
    const clickMsg = [
        {% for msg in page.click %}"{{msg}}"{% unless forloop.last %},{% endunless %}
        {% endfor %}
    ]
</script>
{% endif %}

{% include live2d.html %}