---
import Root from './Root.astro'
import Header from '~/components/Header.astro'
import Footer from '~/components/Footer.astro'

interface Props {
  title?: string
  desc?: string
  banner?: ImageMetadata
}

const props = Astro.props
---
<Root title={props.title} desc={props.desc} banner={props.banner}>
  <div un-max-lg="animate-fadein-down" un-lg="flex flex-row-reverse justify-between gap-4 px-8 mx-auto max-w-6xl" class="container contain-layout m-a">
    <div un-lg="sticky top-0 h-screen py-20 animate-fadein-left gap-8" un-lg:flex="~ col justify-between items-start gap-4" class="p-7.5">
      <Header />
      <Footer class="max-lg:hidden" />
    </div>
    <main un-lg="py-20 min-w-3xl animate-fadein-down" class="p-7.5">
      <slot />
      <div class="p-10">
        <div>
          <img class="m-auto" src="https://moe-counter.glitch.me/get/@mslxl" alt="moe-counter" />
          <p class="text-sm text-gray-500 text-center">统计自 2024 年 9 月</p>
        </div>
      </div>
    </main>
    <Footer class="lg:hidden p-7.5" />
  </div>
</Root>
