---
import LayoutDefault from "~/layouts/LayoutDefault.astro";
import Comments from "~/components/Comments.astro";
import type { MarkdownLayoutProps } from "astro";


type Props = MarkdownLayoutProps<{
  title: string;
  comment: boolean;
}>;


const { title, comment = true } = Astro.props.frontmatter;

---


<LayoutDefault title={title}>
    <article class="heti">
        <h1 class="post-title!">
            <a href="#">{title}</a>
        </h1>
        <div class="pt-8">
            <slot />
        </div>
    </article>
  {comment && <Comments />}
</LayoutDefault>